@import 'tailwindcss';

:root {
  --background: #f5f5f4;
  --foreground: #171717;
  --text-strong: #0c0a09;
  --text-medium: #1c1917;
  --text-light: #44403c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-text-strong: var(--text-strong);
  --color-text-medium: var(--text-medium);
  --color-text-light: var(--text-light);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
